body{
    background-color: rgb(143, 184, 219);
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 6rem;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 1rem;
    
}
button {
    border: none;
    height: 30px;
    padding: 0px 10px;
    background-color: rgb(195, 23, 195);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}
